<%= f = form_for @changeset, "#", [phx_change: :validate, phx_submit: :save, phx_hook: "SavedForm", phx_target: @myself] %>
  <%= label f, :message %>
  <%= text_input f, :message, phx_debounce: "blur" %>
  <%= error_tag f, :message %>

  <div>
    <%= submit "Add message", phx_disable_with: "Saving..." %>
  </div>
</form>
