<ul>
	<button><%= @comment.message %></button>
	<button phx-click="add_reply" phx-target="<%= @myself %>">Reply</button>
  <%= if @show_form do %>
	  <%= live_component @socket, BlogWeb.CommentLive.New, comment: @comment, id: :create_comment %>
  <% end %>

	<%= for reply <- @comment.replies do %>
		<%= live_component @socket, BlogWeb.CommentLive.Index, comment: reply, id: reply.id %>
	<% end %>
</ul>
