<h1>Signin</h1>

<%= form_for :signin, Routes.signin_path(@conn, :create), fn f -> %>
  <div class="form-group">
    <%= label f, :email, class: "control-label" %>
    <%= email_input f, :email, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= label f, :password, class: "control-label" %>
    <%= password_input f, :password, class: "form-control" %>
  </div>

  <%= submit "Login" %>
  <%= button("Signup", to: "/users/new", method: :get) %>
<% end %>
